@require(path_for, error)
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Register</title>
	<link
	rel="stylesheet"
	href="@path_for('static', path='css/register.css')"
	/>
</head>

<body>
	<main>
		@if error:
			<p id="error">@error!h</p>
		@endif
		<header>
			<nav class="nav_container">
				<a href="/home">Home</a>
			</nav>
			<h1>Register</h1>
		</header>
		<form method="post">
			<label class="ToCenter" for="email">Email</label>
			<input type="email" name="email" id="email" maxlength="36" required />
			<label class="ToCenter" for="phone_number">Phone number</label>
			<input
			type="tel"
			maxlength="36"
			name="phone_number"
			id="phone_number"
			pattern="^[0-9_ \-\+]{6,36}$"
			required
			/>
			<label class="ToCenter" for="username">Username</label>
			<input
			type="text"
			name="username"
			maxlength="16"
			pattern="^[a-zA-Z0-9_\-\.]{2,36}$"
			id="username"
			required
			/>
			<label class="ToCenter" for="password">Password</label>
			<input
			maxlength="32"
			minlength="8"
			type="password"
			name="password"
			id="password"
			pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)[a-zA-Z0-9_\+\-]+[a-zA-Z0-9_\+\-\s]*$"
			required
			/>
			<label class="ToCenter" for="password_repeat">Repeat password</label>
			<input
			maxlength="32"
			minlength="8"
			type="password"
			name="password_repeat"
			id="password_repeat"
			required
			/>
			<input id="button" type="submit" value="Register" />
			<p class="ToCenter">Already have an account?</p>
			<p class="ToCenter"><a href="/login">Log In</a></p>
		</form>
		</main>
	</body>
</html>
