@require(path_for, search_result)
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Search Post</title>
	<link rel="stylesheet" href="@path_for('static', path='css/search.css')" />
	<link
		rel="stylesheet"
		href="@path_for('static', path='css/read_post.css')"
	/>
	<script src="@path_for('static', path='js/read_post.js')"></script>
</head>

<body>
	<div id="readPost"></div>
	<div id="content">
		<header>
			<h1>Search</h1>
			<nav>
				<a href="@path_for('home')!h">Go Home</a>
			</nav>
		</header>
		<main>
			<form id="main_form" method="post">
				<input
					id="sch_input"
					name="search_keyword"
					maxlength="150"
					type="text"
				/>
				<input type="submit" value="Search" />
			</form>

			@if search_result:
				<div id="result">
				@for index, (post) in search_result:
					<div id="title">
						<p style="flex-basis: 70%">@str(index):&nbsp@post['title']!h</p>

						@if post['body']:
							<a class="reading" href="/read_post/@str(post['id'])">
								ReadPost
							</a>
						@endif
					</div>
				@endfor
				</div>
			@endif
		</main>
	</div>
</body>
</html>
